.mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: rgb(43, 150, 226);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  span{
    color: white;
  }
}

.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flexbox;
  padding: 10px;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}

.mat-sidenav-container{
  height: calc(100vh - 65px);

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  font-size: 1rem;

  .mat-icon {
    margin-right: 8px;
    color: white;
  }
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
