<button class="add-button" color="accent" mat-fab routerLink="new">
  <mat-icon>add</mat-icon>
</button>

<mat-table [dataSource]="heroes" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let hero"> {{ hero.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let hero"> {{ hero.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let hero"> {{ hero.title }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let hero; columns: displayedColumns"
    [routerLink]="['/heroes', hero.id]"
  ></mat-row>
</mat-table>
